header {
  background-image: url("https://picsum.photos/id/155/3264/2176");
}

.borda-header {
  border-bottom: 4px solid #f0941f;
}

.background-nav {
  background-color: none;
}

.header-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.explore-bg {
  height: 100vh;
  background-color: #00071e;
}