header {
  background-image: url("https://picsum.photos/id/74/4288/2848");
}

.borda-header {
  border-bottom: 4px solid #f0941f;
}

.nav-link-duvidas {
  color: #f0941f !important; 
}

.nav-link-duvidas.active {
  color: white !important; 
  background-color: #f0941f !important; 
}

.background-nav {
  background-color: none;
}

.header-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
