header {
  background-image: url("../img/America/Bariloche2.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 70vh;
}

.borda-header {
  border-bottom: 4px solid #f0941f;
}

.background-nav {
  background-color: none;
}

.header-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.argentina {
  border: 3px solid #f0941f;
  border-radius: 1.5rem;
  position: relative;
  top: -70px;
  right: -50px;
}

.gradiente {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  height: 100px;
  position: relative;
  top: 41vh;
}

h1 {
  position: relative;
  font-size: 50px;
  font-weight: bold;
  top: 3vh;
}