header {
    background-image: url("https://picsum.photos/id/201/5000/3333");
  }
  .borda-header {
    border-bottom: 4px solid #f0941f;
  }
  .background-nav {
    background-color: none;
  }
  .header-overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }
  